<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width">
  <script src="https://kit.fontawesome.com/9e757ae94d.js" crossorigin="anonymous"></script>


  <title>MERCADO LIEBRE</title>
</head>

<body>
  <header class="main-header">
    <div class="main-header-top">
      <img src="./img/logo-mercado-liebre.svg" alt="logo" class="logomercadliebre">
      <div class="barradebusqueda">
        <input type="text" placeholder="Buscar Productos,Marcas" id="busqueda" name="q" />
        <a class="lupa" href="#">
          <i class="fas fa-search"></i>
        </a>
      </div>
      <h4 class="comprasmanito"><i class="fas fa-hand-holding-usd"> </i>Compra en Cuotas y Sin Tarjetas</h4>
    </div>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#"> Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
      </ul>
      <br>
      <ul class="right-navbar">
        <li><a href="registro">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
        <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis Compras <i class="fas fa-shopping-cart"></i></a></li>
      </ul>
    </nav>
    <br>

    <br>

  </header>
  <div>
    <img src="./img/img-home-banner.jpg" alt="banner" class="banner">
  </div>
  <main class="registro">
    <form action="/" method="GET">
      <div class="input">
        <label for="nombre">
          <input type="text" name="nombre" placeholder="nombre y apellido" required class="boton">
        </label>
      </div>
      <div class="input">
        <label for="nombre">
          <input type="password" name="nombre" placeholder="nombre de usuario" required class="boton">
        </label>
      </div>
      <div class="input">
        <label for="nombre">
          <input type="email" name="nombre" placeholder="e-mail" required class="boton">
        </label>
      </div>
      <h4>Fecha de Nacimiento</h4>
      <div class="input">
        <label for="fecha">
          <input type="date" name="fecha" id="fecha">
        </label>
      </div>
      <div class="input">
        <label for="domicilio">
          <input type="domicilio" name="domicilio" placeholder="domicilio" required class="boton">
        </label>
      </div>
      <div class="input">
        <label for="imagendeperfil">
          <input type="file" name="imagendeperfil" placeholder="imagen" accept=".jpg, .png," class="boton">
        </label>
      </div>
      <h4>Perfil de Usuario</h4>
      <div class="input">
        <label for="perfilusuario"><input type="radio" name="perfilusuario">Comprador</label>
        <label for="perfilusuario"><input type="radio" name="perfilusuario">Vendedor</label>
      </div>
      <h4>Intereses</h4>
      <div class="input">
        <label for="electro">
          <input type="checkbox" name="electro" class="botonintereses">Electro
        </label>
      </div>
      <div class="input">
        <label for="moda">
          <input type="checkbox" name="moda" class="botonintereses">Moda
        </label>
      </div>
      <div class="input">
        <label for="hogar">
          <input type="checkbox" name="hogar" class="botonintereses">Hogar
        </label>
      </div>
      <div class="input">
        <label for="jugueteria">
          <input type="checkbox" name="jugueteria" class="botonintereses">Jugueteria
        </label>
      </div>
      <div class="input">
        <label for="vidasana">
          <input type="checkbox" name="vidasana" class="botonintereses">Vida Sana
        </label>
      </div>
      <div class="input">
        <label for="nombre">
          <input type="text" name="nombre" placeholder="nombre de usuario" required>
        </label>
        <label for="nombre">
          <input type="password" name="nombre" placeholder="contraseña" required>
        </label>
      </div>

      <div>
          <button type="submit" class="botonenvioreg">Enviar</button>
          <button type="reset" class="botonborradoreg">Borrar</button>
      </div>
  </main>
  <footer>
    <div class="footer1">
      <div>
        <i class="fas fa-2x fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>
      </div>
      <div>
        <i class="fas fa-2x fa-truck"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
      </div>
      <div>
        <i class="fas fa-2x fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </div>
    </div>
    <div class="piedefooter">
      <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </div>

  </footer>
</body>

</html>